<!DOCTYPE html>
<html>
  <head>
    <title>RailsDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="flex min-h-screen items-center justify-center bg-red-800 text-red-400">
      <section class="flex flex-col items-center">
        <main class="container mx-auto mt-28 px-5 flex">
          <%= yield %>
        </main>
      </section>
    </section>
  </body>
</html>
